<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="http://lib.sinaapp.com/js/bootstrap/v3.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/walpw.css" />
    <!--[if lt IE 9]>
    <script src="/static/js/html5shiv/3.7.0/html5shiv.min.js"></script>
    <script src="/static/js/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <title>我爱老婆网</title>
</head>
<body>
<div class="container">
    <div class="header-diarybook">
        <h2><span class="username boy">@{{boy}}</span><span class="username girl">@{{girl}}</span><div class="clearfix"></div></h2>
        <ul class="nav pager">
            <li class="active"><a href="/logout"><span class="glyphicon glyphicon-th-list"></span>退出</a></li>
        </ul>
    </div>
    <ul class="timeline">
        %for diary in diarys:
        %if boy == diary['FDUName']:
        %clsname = 'boy'
        %else:
        %clsname = 'girl'
        %end
        <li class="{{clsname}}">
            <div class="info">
                <time datetime="{{diary['FDEditTime1']}}"><span class="date">{{diary['FDTime1'][0:10]}}</span><span class="weather">{{diary['FDWeather'] or ''}}</span></time>
                <span class="author">{{diary['FDUName']}}</span><div class="clearfix"></div>
            </div>
            <div class="point"></div>
            <div class="content">
                <h2>{{diary['FDTitle']}}</h2>
                <p>{{!diary['FDContent'].replace('\n','</p><p>')}}</p>
            </div>
        </li>
        %end
        <li>
            <div class="info"><span class="end">- The End -</span></div>
            <div class="point end-p"></div>
            <div class="end-r">&copy;2014 walpw.cn</div>
        </li>
    </ul>
</div>
</body>
<script src="http://lib.sinaapp.com/js/jquery/1.10.2/jquery-1.10.2.min.js"></script>
<script src="http://lib.sinaapp.com/js/bootstrap/v3.0.0/js/bootstrap.min.js"></script>
</html>
