<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="http://lib.sinaapp.com/js/bootstrap/v3.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/walpw.css" />
    <!--[if lt IE 9]>
    <script src="/static/js/html5shiv/3.7.0/html5shiv.min.js"></script>
    <script src="/static/js/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <title>我爱老婆网</title>
</head>
<body>
<div class="container">
    <div class="header-diarybook">
        <h2><span class="username boy">@张郎穿拖鞋</span><span class="username girl">@拖鞋拍张郎</span><div class="clearfix"></div></h2>
        <ul class="nav pager">
            <li class="active"><a href="#"><span class="glyphicon glyphicon-th-list"></span> 读日记</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-edit"></span> 写日记</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-cog"></span> 设置</a></li>
        </ul>
    </div>
    <ul class="timeline">
        <li class="boy">
            <div class="info">
                <time datetime="2014-02-30 21:12"><span class="date">2014-02-30</span><span class="time">21:12</span></time>
                <span class="author">张郎穿拖鞋张郎</span><div class="clearfix"></div>
            </div>
            <div class="point">晴</div>
            <div class="content boy">
                <h2>title</h2>
                <p>
           最近一直在学习HTML5，因为要开发手机项目所以先把HTML5学习下。<br/>
           基本思路：<br/>
           1. 用户未设置任何城市之前，根据HTML5 geolocation 获取用户所在的地理位置。<br/>
           2. 根据用户设置的城市切换到所在城市的天气数据并展示之。<br/>
           3. 根据当前城市的天气，展示近3天的天气情况。<br/>
           从界面而言，基本上是仿百度小天气实现的，图片等也是在百度天气中下载到。天气的接口是调用的国家气象局提供的接口数据。<br/>
           从程序来讲，里面使用了一个ajax.php文件，主要是用来根据城市名称获取天气的情况，并实现缓存天气数据。设置的是每隔4小时更新缓存（在用户访问界面后）。
                </p>
            </div>
        </li>
        <li class="girl">
            <div class="info">
                <time datetime="2014-02-30 21:12"><span class="date">2014-02-30</span><span class="time">21:12</span></time>
                <span class="author">张郎穿拖鞋</span><div class="clearfix"></div>
            </div>
            <div class="point">晴</div>
            <div class="content">
                <h2>title</h2>
                <p>
           最近一直在学习HTML5，因为要开发手机项目所以先把HTML5学习下。<br/>
           基本思路：<br/>
           1. 用户未设置任何城市之前，根据HTML5 geolocation 获取用户所在的地理位置。<br/>
           2. 根据用户设置的城市切换到所在城市的天气数据并展示之。<br/>
           3. 根据当前城市的天气，展示近3天的天气情况。<br/>
           从界面而言，基本上是仿百度小天气实现的，图片等也是在百度天气中下载到。天气的接口是调用的国家气象局提供的接口数据。<br/>
           从程序来讲，里面使用了一个ajax.php文件，主要是用来根据城市名称获取天气的情况，并实现缓存天气数据。设置的是每隔4小时更新缓存（在用户访问界面后）。
                </p>
            </div>
        </li>
        <li>
            <div class="info"><span class="end">- The End -</span></div>
            <div class="point end-p"></div>
            <div class="end-r">&copy;2014 walpw.cn</div>
        </li>
    </ul>
    <div>    
        %for diary in diarys:
            {{diary['FDTitle']}}<br/>
            {{diary['FDTime']}}<br/>
            {{diary['FDContent']}}<br/>
        %end
    </div>
</div>
</body>
<script src="http://lib.sinaapp.com/js/jquery/1.10.2/jquery-1.10.2.min.js"></script>
<script src="http://lib.sinaapp.com/js/bootstrap/v3.0.0/js/bootstrap.min.js"></script>
</html>
